* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero {
    display: flex;
    justify-content: center;
}

.documentRow > .select2-container--bootstrap {
    width: auto;
    flex: 1 1 auto;
}

.documentRow > .select2-container--bootstrap .select2-selection--single {
    height: 100%;
    line-height: inherit;
    padding: 0.5rem 1rem;
}